<div class="">
    <h1 *ngIf="!!modProdotto">Mofifica prodotto:</h1>
    <h1 *ngIf="!modProdotto">Nuovo prodotto:</h1>
    <br>
    <form novalidate [formGroup]="prodFor" (ngSubmit)="!!modProdotto?modificaProdotto():nuovoProdotto()">
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="nomeProdotto" class="form-label">Nome</label>
          <input  [ngClass]="{'text-danger border-danger': nomeProdotto.touched && nomeProdotto.invalid}" type="text" class="form-control" id="nomeProdotto" formControlName='nomeProdotto' placeholder="Esempio: Tavolo">
          <small class="text-danger" *ngIf="nomeProdotto.touched && nomeProdotto.invalid">Il nome è obbligatorio</small>
        </div>
  
        <div class="form-group col-md-12">
          <label for="categoria" class="form-label">Categoria</label>
          <input [ngClass]="{'text-danger border-danger': categoria.touched && categoria.invalid}" class="form-control" list="datalistOptions" id="categoria" formControlName='categoria' placeholder="Type to search...">
          <small class="text-danger" *ngIf="categoria.touched && categoria.invalid">La categoria è obbligatorio</small>
          <datalist  id="datalistOptions">
        
            <option *ngFor="let cat of categorie" value="{{cat.nome}}">
            
          </datalist>
        </div>
      </div>
  
      <div class="form-row">
      <div class="form-group col-md-12">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea  [ngClass]="{'text-danger border-danger': descrizione.touched && descrizione.invalid}" class="form-control" formControlName='descrizione' id="descrizione" rows="4"></textarea>
        <small class="text-danger" *ngIf="descrizione.touched && descrizione.invalid">La descrizione è obbligatorio</small>  
    </div>
  
    </div>
      <div class="form-row">
      <div class="form-group col-md-2 " *ngIf="!modProdotto">
        <label for="quantita">Quantità</label>
        <input [ngClass]="{'text-danger border-danger': quantita.touched && quantita.invalid}" class="form-control" type="number" formControlName='quantita' class="form-control" id="quantita" placeholder="2">
      </div>
  
      <div class="form-group col-md-2">
        <label for="prezzo">Prezzo</label>
        <input [ngClass]="{'text-danger border-danger': prezzo.touched && prezzo.invalid}" class="form-control" type="number" formControlName='prezzo' class="form-control" id="prezzo" placeholder="14.99">
      </div>
  
      <div class="form-group col-md-8">
        <label for="url">URL</label>
        <input  class="form-control" type="text" formControlName='url' class="form-control" id="url" placeholder="es: http://pippo">
      </div>
    </div>
    <div class="alert" *ngIf="!!esito" [class]="esito.type">
        {{esito.msg}}
      </div>
       
      <button [disabled]="prodFor.invalid" type="submit" class="btn btn-success">
          Invio
      </button>
    </form>
  </div>